<form method='POST' action'/create_profile'>

  <input type='text' name="lname" placeholder="Last Name">
  <input type='text' name="fname" placeholder="First Name">
  <input type='text' name="zip_code" placeholder="Zip Code">
  <input type='text' name="occupation" placeholder="Occupation">
  <input type='submit'>

</form>
