<form method='POST' action'/create_profile'>
  <input type="hidden"name= "[profile]user_id" value=<%=current_user.id %>>
  <input type='text' name="[profile]lname" placeholder="Last Name">
  <input type='text' name="[profile]fname" placeholder="First Name">
  <input type='text' name="[profile]zip_code" placeholder="Zip Code">
  <input type='text' name="[profile]occupation" placeholder="Occupation">
  <input type='submit'>

</form>

<div method="delete_container">
	<a href="/users/:id">Delete Profile</a>
</div>

