<form method="POST" action'/post'>
  <input type="text" name='title' placeholder='Heading'>
  <textarea type="text" name="body" placeholder="Chirp On Bitches" maxlength="150"></textarea>
  <input type="submit">

</form>

<div class="feed">
<h1>Your last 10 posts</h1>
  <% current_user.posts.last(10).reverse.each do |x| %>
  <div class="post">
    <p class="heading"><%= x.title %></p>
    <p class="chirp"><%= x.body %></p>
  </div>
  <% end %>
</div>
