  <h1>Profile</h1>
  <div class="profile_container">
    
    <div class="photo_container">
      <div id="photo">
        <img src="/images/Default_Profile.jpg">
      </div>
    </div>
    
    <div class="name_container">
      
        <h1><%= @profile.profile.fname %></h1>
        <h1><%= @profile.profile.lname %></h1>

    </div>

    <div class="details_container">
        <h2><%= @profile.profile.occupation %></h2>
        <p><%= @profile.profile.zip_code %></p>

    </div>

    <div class="editprofile_container">
      <a href="/create_profile">Edit Profile</a>
    </div>

</div>


