  <h1>Profile</h1>
  <div class="profile_container">
    
    <div class="photo_container">
      <div id="photo">
        <img src="/images/Default_Profile.jpg">
      </div>
    </div>
    
    <div class="name_container">
      
  <div><%= @profile.lname %></div>
  <div><%= @profile.fname %></div>
  

    </div>

    <div class="details_container">

    <div><%= @profile.zip_code %></div>
    <div><%= @profile.occupation %></div>

    </div>

    <div class="editprofile_container">
      <a href="/edit_profile">Edit Profile</a>
    </div>

</div>


