
  <div class="profile_container">
    
    <div class="photo_container">
      <div id="photo">
        <img src="##">
      </div>
    </div>
    
    <div class="firstname_container">
      <div id="firstname">
        <%= @profile.fname %>
      </div>
    </div>

    <div class="lastname_container">
      <div id="lastname">
        <%= @profile.lname %>

      </div>
    </div>

    <div class="zipcode_container">
      <div id="zipcode">
        <%= @profile.zip_code %>

      </div>
    </div>

    <div class="occupation_container">
      <div id="occupation">
        <%= @profile.occupation %>

      </div>
    </div>
  
  </div>


