  <h1>Profile</h1>
  <div class="profile_container">
    
    <div class="photo_container">
      <div id="photo">
        <img src="/images/Default_Profile.jpg">
      </div>
    </div>
    
    <div class="firstname_container">
      <div id="firstname">
      
        <h1><%= @profile.profile.fname %></h1>
      </div>
    </div>

    <div class="lastname_container">
      <div id="lastname">
      
        <h1><%= @profile.profile.lname %></h1>

      </div>
    </div>

    <div class="details_container">
      <div id="occupation">
        <h2><%= @profile.profile.occupation %></h2>
      </div>
    
      <div id="zipcode">
        <p><%= @profile.profile.zip_code %></p>

      </div>
    </div>

    

    <div class="editprofile_container">
      <a href="/create_profile">Edit Profile</a>
    </div>
  
  </div>


