<h1>Sign In</h1>

<form class="form" method='POST' action'/'>

  <input type='text' name='username' placeholder='Username'>
  <input  type='password' name='password' placeholder='Password'>


  <input type='submit'>

</form>