body {
  background-color: lightyellow;
}
#nav {
  height: 40px;
  width: 101%;
  background-color: rgba(0,0,0,0.4);
  margin-top: -10px;
  margin-left: -10px;
}

li {
  font-family: 'Indie Flower';
  display: inline;
  float: right;
  margin: 10px;
}